body{
    //color::
    color :#cab300;
    //color:
    color:#2b89e7;
    // color: cornflowerblue;
    color: #6495ed;
    // color: dodgerblue;
    color: #1e90ff;
    // color: darkslateblue;
    color: #291e72;
    //darkslateblueopactity
    color: #473d8b91;
    // color: darkviolet;
    color: #d38df1;
    // light
    // color: crimson;
    color: #dc143c;
    //color:forestgreen;
    color: #228b22;
    //yellowPrimaryDark
    color:#d1b500;
    //color-conform
    color: #6ce4ff;
    //bg-sing-up
    color: #b12eee;
    //login-color
    color: #fd96b5;
    //forget-pass-color
    color: #05fbce;
    //forget-pass-dark-color
    color: #1dba9d;
    //
    color:#e70878;
}